<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>SIGNIN</title>
</head>
<body class="w3-teal">
    <div class="w3-container w3-teal">
        <h1>SIGNIN</h1>
    </div>
    <div class="w3-padding-24 w3-margin-top w3-round-medium">
        <div class="w3-container w3-card w3-display-middle w3-padding-48 w3-blue-grey w3-round-medium w3-margin-bottom">
            <form action="/authserver/auth.go" method="POST">
                <input class="w3-input w3-round-medium w3-margin-bottom w3-margin-top" type="text" autocomplete="username" placeholder="username" id="username" name="username">
                <input class="w3-input w3-round-medium w3-margin-top w3-margin-bottom" type="password" autocomplete="current-password" placeholder="password" id="password" name="password">
                <input type="submit" value="SIGNIN" class="w3-margin-top w3-button w3-black w3-center w3-round-medium">
            </form>
        </div>

    </div>
</body>
</html>
